.container {
	font-family: $helvetica;
	background: $offwhite;
	max-width: 100%;
	.header-wrapper {
		position: relative;
		.header-container {
			position: absolute;
			max-width: 100%;
			display: block;
			vertical-align: middle;
			color: $offwhite;
			text-align: center;
			text-shadow: 2px 2px 2px $offblack;
			.page-nav {
				background-color: $offblack;
				height: 2.75em;
				.investigates-logo {
					margin-top: 0.5em;
					max-height: 1.5em;
					float: left;
					img {
						max-height: 1.5em;
					}
				}
				img {	
					margin: 0 0.5em 0 0.5em;
				}
				.trib-logo {
					max-height: 1.5em;
					float: right;
					p {
						color: $offwhite;
						font-style: italic;
						float: left;
						font-size: 0.75em;
					}
					img {
						margin-top: 0.75em;
						max-height: 1em;
					}
				}
			}
			.title-container {
				.title {
					margin-top: 20%;
					width: 100%;
					h1 {
						font-size: 4em;
						text-transform: uppercase;
					}
					h3 {
						font-size: 1.25em;
						font-style: italic;
						margin-bottom: 10%;
					}
				}
			}
			#nav-header {
				z-index: 1;
				top: 0px;
			}
			.nav-header {
				background-color: $gray_o;
				position: static;
				max-width: 1088px;
				width: 100%;
				ul {
					display: block;
					list-style-type: none;
					font-size: 1em;
					margin: 0px;
					li {
						margin: 1em 0.25em;
						float: left;
						background-repeat: no-repeat;
						background-size: 100%;
						height: 200px;
						@include media($mobile) {
							margin: 0;
							height: 3em;
						}
					}
					.one {
						background-image: url(http://www.placebear.com/240/200);
						@include media($mobile) {
							background-image: none;
						}
					}
					.two {
						background-image: url(http://www.placekitten.com/240/200);
						@include media($mobile) {
							background-image: none;
						}
					}
					.three {
						background-image: url(http://www.fillmurray.com/240/200);
						@include media($mobile) {
							background-image: none;
						}
					}
					.four {
						background-image: url(http://www.placecage.com/240/200);
						@include media($mobile) {
							background-image: none;
						}
					}	
				}
				a {
					color: $yellow;
					text-decoration: none;
					text-shadow: none;
				}
			}
			.sticky {
				ul {
					.one {
						background-image: none;
					}
					.two {
						background-image: none;
					}
					.three {
						background-image: none;
					}
					.four {
						background-image: none;
					}
				}
				@include media ($desktop) {
					position: fixed;
					background-color: $gray;
					max-height: 3em;
					ul {
						li {
							background-image: none;
						}
					}
				}
			}
		}
	}
	.page-nav-backdrop {
		background-color: $offblack;
		height: 3em;
	}
	.lead-image {
		background-image: url(http://www.placekitten.com/2000/640);
		background-repeat: no-repeat;
		height: 640px;
		width: 100%;
	}
	.story-wrapper {
		.story-container {
			max-width: 100%;
			.story-body {
				max-width: 100%;
				color: $offblack;
				display: block;
				.headline {
					margin: 0 0.5em 0 0.5em;
					h1 {
						font-size: 2em;
						font-weight: bold;
						line-height: 1;
					}
				}
				.byline {
					margin: 0 0.5em 0 0.5em;
					h3 {
						font-size: 1em;
						line-height: 1;
						font-style: italic;
						color: $gray;
						float: left;
					}
				}
				hr {
					height: 1px;
					border: 0;
					border-top: 1px solid $yellow;
				}
				.story {
					p {
						margin: 0.5em;
						font-size: 1em;
						line-height: 1.5em;
						color: $offblack;
					}
					.media {
						margin: 0 0.5em 0 0.5em;
						.left {
							float: none;
							@include media($desktop) {
								float: left;
							}
						}
						.right {
							float: none;
							@include media($desktop) {
								float: right;
							}
						}
						img {
							width: 100%;
						}
						p {
							font-size: 0.75em;
							line-height: 1em;
							font-style: italic;
							color: $gray;
						}
					}
					.image-block {
						img {
							width: 100%;
							@include media($desktop) {
								width: 60%;
							}
						}
						h2 {
							visibility: hidden;
							height: 0;
							max-height: 0;
							width: 0;
							@include media($desktop) {
								visibility: visible;
								width: 35%;
								font-size: 1.5em;
								color: $offblack;
							}
						}
					}
					.full {
						img {
							width: 100%;
						}
						h2 {
							width: 100%;
							font-size: 1.5em;
							color: $offblack;
						}
					}

				}
			}
		}
	}
}
